<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <p>INICIO DE SESION</p>


  <ion-input placeholder="email"></ion-input>
  <ion-input placeholder="password"></ion-input>
  <br>
  <ion-button  color="success" expand="full" routerLink="/movies">INGRESAR </ion-button>
  <ion-button  color="success" expand="full" routerLink="/register"> REGISTRARSE </ion-button>


  <!--<ion-grid style="height:100%;">
    <ion-row justify-content-center aling-item-center style="height: 100%;">
      <ion-col size=12 size-sm=10 offset-sm=4 size-md=8 offset-md=2 size-lg=6 offset-xl=4>
        <ion-card>
        <ion-card-header>
        <ion-card-tittle>User Login</ion-card-tittle>
        </ion-card-header>
        </ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <ion-labelposition="stack">
              Email
            </ion-label>
            <ion-input placeholder="ingrese su correo"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-labelposition="stack">
              password
            </ion-label>
            <ion-input placeholder="ingrese su contraseña"></ion-input>
          </ion-item>
          <ion-button color="prymary" display ="block">INGRESAR</ion-button>
          
        </ion-card-content>

        

      </ion-col>
    </ion-row>
  </ion-grid>-->
 
</ion-content>
