<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Registro de usuario</p>
  <ion-input placeholder="nombre"></ion-input>
  <ion-input placeholder="email"></ion-input>

  <ion-input placeholder="password"></ion-input>
  <br>
  <ion-button  color="success" expand="full" routerLink="/">GUARDAR </ion-button>

</ion-content>
