<ion-header>
  <ion-toolbar color="success">
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
    
      <h4>Nueva Cuenta</h4>
  <img style="height: 10%;" src="/assets/icon/anadir.png/" >

  
  
  
  <ion-card>    
      <ion-input [(ngModel)]="nombre" type="text" placeholder="nombre"></ion-input>    
  </ion-card>
  
  <ion-card>   
      <ion-input  [(ngModel)]="apellido"type="text" placeholder="apellido"></ion-input>       
  </ion-card>

  <ion-card>   
      <ion-input [(ngModel)]="email" type="text" placeholder="email"></ion-input>       
  </ion-card>
  
  <ion-card>    
      <ion-input  [(ngModel)]="telefono"type="text" placeholder="teléfono"></ion-input>       
  </ion-card>
  
  <ion-card>
  <ion-input [(ngModel)]="password" type="password" placeholder="password"></ion-input>      
  </ion-card>
  
 
  <ion-button (click)="onSubmitRegister()" color="success" expand="full" >GUARDAR </ion-button>

</ion-content>
