<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <p>Registro de usuario</p>
  <ion-input [(ngModel)]="nombre" type="text" placeholder="nombre"></ion-input>
  <ion-input  [(ngModel)]="apellido"type="text" placeholder="apellido"></ion-input>
  <ion-input [(ngModel)]="email" type="text" placeholder="email"></ion-input>
  <ion-input  [(ngModel)]="telefono"type="text" placeholder="teléfono"></ion-input>
  <ion-input [(ngModel)]="password" type="password" placeholder="password"></ion-input>

  <br>
  <ion-button (click)="onSubmitRegister()" color="success" expand="full" >GUARDAR </ion-button>

</ion-content>
