<ion-header>
  <ion-toolbar color="success">
    <ion-title>Administrador</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    
      </ion-buttons>
  </ion-toolbar>  
</ion-header>


<ion-content>  

    <ion-card > 
      <ion-card-content>           
        <ion-card-title>CRUD ADMINISTRADOR</ion-card-title> 
      </ion-card-content>     
    </ion-card>

    <ion-card style="background-color: #42d77d; color: black;">
      <ion-card-content>
        Agregar  usuarios.
      </ion-card-content>    
    </ion-card>

    <ion-card style=" background-color: #ffca22; color: black;">
      <ion-card-content >
        Editar  usuarios.
      </ion-card-content>    
    </ion-card>

    <ion-card style="background-color: #eb445a; color: #ffffff;">
      <ion-card-content >
        Eliminar  usuarios.
      </ion-card-content>    
    </ion-card>

    
    

</ion-content>
